<% provide(:title, 'jobs') %>
<% provide(:jobs,'active')%>
<div class="container">
<br>
    <% Category.all.each do |category| %>
    <div class="btn-group">
      <%= link_to category.name, jobs_path(category: category.name),class: 'btn btn-default' %>
    </div>
    <% end %>
    <%= link_to 'New Job', new_job_path ,class: 'btn btn-default pull-right' %>
<hr>
<!--center-->
  <div class="row">
<div class="col-sm-8 col-lg-6">
  <% @jobs.each do |job| %>
  <div class="row">

      <h2><%= link_to job.title, job %></h2>
      <small class="pull-right text-muted">
        <span class="glyphicon glyphicon-time"></span><%= time_ago_in_words(job.created_at)%> ago</small>
      <br>
        <h3 class='text-success'><%= job.company %></h3>
      <%= truncate("#{job.description}", length: 250, omission: '...') %>
      <p><%= link_to 'Read More',job, class: 'btn btn-default'  %></p>

  </div>
      <% end %>
  <hr>
  <%= will_paginate @collection, renderer: BootstrapPagination::Rails,class: 'pull-left' %>
</div><!--/center-->

<!--right-->
<div class="col-sm-4">
  <div class="panel panel-default">
    <div class="panel-heading">Welcome to Job Board !</div>
    <div class="panel-body">
      <p>
      Where Hiring companies meet Software Professionals.
      Being a startup & dealing with startups in the Silicon Valley
      we understand the pain of hiring right folks with right skills.
      This is the idea behind the Job Board where recruiters can post
      jobs and the candidates can apply for. Now, it is FREE!
      </p>
    </div>
  </div>
  <hr>
  <div class="panel panel-default">
    <div class="panel-heading">Featured Companies</div>
    <div class="panel-body">Content here..</div>
  </div>
  <hr>
  <div class="panel panel-default">
    <div class="panel-heading">Get Jobs by Email</div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-12">
            <input type="email" class="form-control" value=" Enter You Email..">

          </div>
        </div>
      </form>
    </div>
  </div>
  <hr>

</div><!--/right-->
<hr>
</div><!--/container-fluid-->
</div>