<div class="container">
  <br>
  <div class="col-sm-8 ">
    <div class="well">
      <h2 class="text-primary"><%= @job.title %></h2>
      <small class="pull-right text-muted">
        <span class="glyphicon glyphicon-time"></span><%= time_ago_in_words(@job.created_at)%> ago</small>
      </br>
      <h3 class="text-success"><%= @job.company %></h3>
      </br>


    <p><%= simple_format(@job.description) %></p>
    <%= link_to "Apply for Job", @job.url, class: 'btn btn-success' %>

      <hr>
      <%= link_to "Back", root_path, class: "btn btn-sm btn-default" %>
      <%= link_to "Edit", edit_job_path(@job), class: "btn btn-sm btn-default" %>
      <%= link_to "Delete", job_path(@job), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-default" %>

    </div>
  </div>

</div>